@import url('https://fonts.googleapis.com/css?family=Numans');



/* INIZIO FORM*/

.external{      /*Definisco il container esterno per il colore*/

    height: calc(100vh - 56px); /* Sottraggo a tutta l'altezza visibile, l'altezza della navbar, per evitare di*/
    display: flex;
    align-items: center; /*posiziono la form al centro*/
    background-image: url('https://thumbs.dreamstime.com/b/landscape-vector-illustration-game-background-size-x-70937769.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3em;
}


.container{     /*Definisco il container interno in cui inserisco il div row*/

    max-width: 30em;
    width: 100%;
    background-color: rgba(255, 255,255, 0.7);
    padding: 0 3em;
    
    border-radius: 0.4em;
}

.title-text{

    height: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    
}

.title-text h3{

    text-align: center;
    font-family: 'Lucida Handwriting';
    font-size: 48px;
    font-weight: 700;
    
    color: #005F73;
    text-shadow: 2px 2px cornflowerblue;
}


form{
    position: relative;
}


label{

    font-family: Oswald;
    text-transform: uppercase;
    
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}

.form-control{

        background: #fff;
        border:1px solid #001219;
        border-radius: 1em;
}

.input-box{         /* Per allineare icona e box */

    width: 100%;
    display: flex;
    align-items: center;
}



.input-box input{       /*Per spaziare le icone dalla form*/
    
        width: 100%;
        padding-left: 3em;
}

.input-box i{       /*Per spaziare le icone dalla form*/
    padding-left: 1em;
    position: absolute;
}


.holder{
    text-align: center;
    margin-top: 1.5em;
    display: flex;
    
}

.holder p{

    font-family: Oswald;
    font-size: 1.3em;

}

.holder a{

    text-decoration: none;
    margin-left: 1.2em;
    color: #005F73;  /* colore del backgroud del bottone*/

}

.holder a :hover{
    
color: cornflowerblue;     
}




/* Fine form */


/*

            BUTTON STYLES
            
*/

.buttonHolder{
    text-align: center;
    margin-top: 1em;
}

.loginSubmit{

    --bs-btn-bg:  cornflowerblue;  /* colore del backgroud del bottone*/
    --bs-btn-hover-bg: #005F73;
    --bs-btn-color: white;
    --bs-btn-hover-color: white;
    --bs-btn-font-size: 0.8em;
    --bs-btn-padding-x: 0.5em;
    --bs-btn-padding-y: 0.3em;
    font-family: 'Lucida Sans';
    
}





.login{     /* Stile per pulsante Login*/

    --bs-btn-border-color: black;
    --bs-btn-hover-border-color: black;
    --bs-btn-hover-bg: darkgray;
    --bs-btn-color: black;
    --bs-btn-hover-color: black;
    --bs-btn-font-size: 0.8em;
    --bs-btn-padding-x: 0.5em;
    --bs-btn-padding-y: 0.3em;
    font-family: 'Lucida Sans';
    display: flex !important;

}