.holder{
    
    text-align: center;
    margin-top: 3em;
    margin-bottom: 5em;
    margin-left: 0.7em;
    margin-right: 0.7em;

}

.holder h3{

text-align: center;
margin-bottom: 1em;
font-family: 'Lucida Handwriting';
font-size: 58px;
line-height: 50px;
font-weight: 700;
letter-spacing: 0px;

    @media screen and (max-width: 810px) {  /*Finchè la grandezza è sotto i 600px*/
        
        font-size: 55px;
    }
    @media screen and (max-width: 490px) {  /*Finchè la grandezza è sotto i 600px*/
        
        font-size: 35px;
    }
}

.info{

    margin-top: 1em;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;

    width: 900px;

    padding: 1em 3em 1em 3em;

    @media screen and (max-width: 1000px) {  /*Finchè la grandezza è sotto i 600px*/
        
         width: 700px;
         padding: 1em 3em 1em 3em;

    }
    @media screen and (max-width: 775px) {  /*Finchè la grandezza è sotto i 600px*/
        
        width: 500px;
        padding: 1em 1em 1em 1em;

   }
   @media screen and (max-width: 550px) {  /*Finchè la grandezza è sotto i 600px*/
        
    width: 300px;
    padding: 1em 1em 1em 1em;

    }

}

.gallery{
       
    margin-top: 3em;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
}

.image-gallery{

    margin-top: 3em;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 700px) {  /*Finchè la grandezza è sotto i 600px*/
        
        width: 100% !important;
        display: inline;
        
    }

}


.image{

    text-align: center;

}




img{

    
    margin-top: 1em;
    width: 700px;

    @media screen and (max-width: 700px) {  /*Finchè la grandezza è sotto i 600px*/
        
            width: 100% !important;
            
        }
}

.comments{

    text-align: center;

}

.carousel-comment{

    margin-top: 1em;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 700px;

    padding: 1em 3em 1em 3em;

    @media screen and (max-width: 1000px) {  /*Finchè la grandezza è sotto i 600px*/
        
        width: 500px;
        padding: 1em 2em 1em 2em;

   }
   @media screen and (max-width: 775px) {  /*Finchè la grandezza è sotto i 600px*/
        
    width: 300px;
    padding: 1em 2em 1em 2em;

    }
}

.carousel-comment * {

    font-family: 'Poppins';
    color: black;
}

.gallery h3,h6{
    color: black;
    font-family: 'Poppins';
}

.gallery a{  
  text-decoration: none;
  color: black;
  
  font-family: 'Poppins';
  word-wrap: break-word;
}

.link:hover{  
    color: darkslategrey;
  }

.link{

    display: inline-block;
    word-break: break-all;
}


.comment-slide .carousel-control-next-icon, .comment-slide .carousel-control-prev-icon  {
    background-color: black;
}

.comment-slide .carousel-control-next, .comment-slide .carousel-control-prev {
    top: 1em;
    bottom: auto;
}

.carousel-caption{
    
    position: absolute;
    bottom: 0px;
    padding-bottom: 0px;
}


.top-rating {

    margin-left:10px;
    position: relative;
    top: -3px;
    background-color: gold;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
    padding-bottom: 0;
    color: white;

}

.price-btn{

    margin-top: 1em;
    background-color: olivedrab;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
    padding-bottom: 0;
    color: white;

}